div {
    position: relative;
    > input {
        outline:none;
        padding-left: 15px;
        border: 1px solid #a4a7b74d;
        border-radius: 5px;
        width:100%;
        &:focus{
            border: 1px solid #0a74dc;
        }
        &.error{
            border: 1px solid red;
        }
    }
    > label{
        color:#b0b9c8;
        position:absolute;
        background-color: white;
        padding: 2px 3px;
        left: 8px;
        top:-10px;
        line-height: 18px;
        font-size: 12px;
        font-weight: 500;
    }
    > span{
      color:red;
      line-height: 18px;
        font-size: 12px;
        font-weight: 500;
    }
}

